@media (min-width: 768px) {
  .page-content {
    max-width: 480px;
    margin: 0 auto;
  }

  .page-content ion-item {
    --padding-top: 4px;
    --padding-bottom: 4px;
    --min-height: 40px;
  }

  .page-content ion-list {
    --ion-safe-area-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .page-content ion-card-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .page-content ion-card-header {
    padding-top: 8px;
    padding-bottom: 4px;
  }
}
